<mat-toolbar color="primary">
   <mat-toolbar-row>
     <span>Youtube Clone</span>
     <span class="spacer"></span>
     <button mat-icon-button class="example-icon" aria-label="video recorder with a plus on it">
       <mat-icon>video_call</mat-icon>
     </button>
     <button *ngIf="isAuthenticated; else noAuth" mat-icon-button class="user-icon" aria-label="user profile">
       <mat-icon>account_circle</mat-icon>
     </button>
	 <ng-template #noAuth>
		<button mat-raised-button>Login</button>
	 </ng-template>
   </mat-toolbar-row>
</mat-toolbar>