<mat-toolbar color="primary">
   <mat-toolbar-row>
     <span routerLink="./featured">Youtube Clone</span>
     <span class="spacer"></span>
     <button mat-icon-button class="example-icon" aria-label="video recorder with a plus on it" routerLink="/upload-video">
       <mat-icon>video_call</mat-icon>
     </button>
     <button *ngIf="isAuthenticated; else noAuth"
	 		 [matMenuTriggerFor]="menu"
	 		 mat-icon-button class="user-icon" 
			 aria-label="user profile">
       <mat-icon>account_circle</mat-icon>
     </button>
	 <mat-menu #menu="matMenu">
	   <button mat-menu-item (click)="logout()">Logout</button>
	 </mat-menu>
	 <ng-template #noAuth>
		<button mat-raised-button (click)="login()">Login</button>
	 </ng-template>
   </mat-toolbar-row>
</mat-toolbar>