<div fxLayout="row">
  <div fxFlex="65%" class="video-detail">
    <div fxLayout="column" fxLayoutGap="8px">
      <app-video-player *ngIf="videoAvailable" [videoUrl]="videoUrl"></app-video-player>
      <div class="mat-title">{{videoTitle}}</div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="view-count">{{viewCount}} Views</span>
        <span class="like-section">
			{{likes}}
          <button mat-icon-button class="thumbs-up" (click)="likeVideo()">
            <mat-icon>thumb_up_off_alt</mat-icon>
          </button>
        </span>
      </div>
      <mat-divider></mat-divider>
      <mat-card-header>
        <mat-card-title>Uploader: {{userId}}</mat-card-title>
        <div fxLayout="row">
          <button *ngIf="showSubscribeButton" class="subscribe-button" 
            mat-raised-button color="warn"
            (click)="subscribeToUser()"> 
            SUBSCRIBE
          </button>
          <button *ngIf="showUnsubscribeButton" class="subscribe-button-clicked" 
            mat-raised-button color="accent"
            (click)="unsubscribeToUser()">
            UNSUBSCRIBE
          </button>
        </div>
      </mat-card-header>
      <div>Description: {{videoDescription}}</div>
    </div>
  </div>
  <div fxFlex="5%"></div>
  <div fxFlex="30%" class="suggestion-bar"></div>
</div>
